.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 32px;
    overflow-x: hidden;
}

.cards .card-img-top:hover {
    box-shadow: 0px 0px 6px rgb(24, 3, 3);
    transform: scale(1.25);
    transition: 0.6s;
    z-index: 1;
}

.cards .card-title {
    font-weight: bold;
}

.cards .btn {
    font-weight: bold;
    background-color: #4A4848;
    color: aliceblue;
}

.cards .btn:hover {
    background-color: aliceblue;
    color: #4A4848;
    font-weight: bold;
    border: solid;
    border-width: 0.5px;
}

.item-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.option {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-color: #4A4848;
    color: aliceblue;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

.option:hover {
    background-color: aliceblue;
    color: #4A4848;
    font-weight: bold;
    border: solid;
    border-width: 0.5px;
}

.option:focus {
    outline: none;
}

.content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.error-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}