.pagination {
    font-family: Roboto-Regular;
}

.navFiltro a {
    font-family: Roboto-Regular;
    color: #4A4848;
}

.navFiltro .breadcrumb {
    color: #4A4848;
    text-decoration: none;
}

.navFiltro .filtroProducto {
    font-family: Roboto-Regular;
    color: #4A4848;
    padding: 2px;
    border-radius: 5px;
    background-color: aliceblue;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-container a {
    text-decoration: none;
    color: #4A4848;
}

.video-container .video-card {
    width: 75%;
    margin: 10px;
    box-shadow: 0px 0px 10px #ccc;
    transition: all 0.2s ease-in-out;
    margin-bottom: 80px;
    background-color: #E0B2DA;
}

.video-container .video-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #4A4848;
}

.video-container video {
    width: 100%;
    border: none;
}

.video-container h3 {
    text-align: center;
    margin: 25px;
    text-decoration: none;
}