.accordion{
    font-family: Roboto-Regular;
    margin-top: 40px;
    .accordion-body{
        background-color: $fondoclaro;
        text-align: justify;
    }
}
.acercaDeMi{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-left: 0px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 60px;
    min-height: calc(100vh - 300px);
    > img{
        height: 425px;
        padding: 30px;
        margin-top: 5px;
    }
    .acercaDeMi-info{
        color: $colorletra;
        font-family: Roboto-Regular;  
        padding: 30px; 
        font-size: 14px;
        text-align: justify;
        width: 950px; 
        margin-top: 40px; 
    }
}

