.contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 300px;
    padding: 1px;
    .textContacto{
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    .logoWhatsappContacto{
        width: 56px;
    }
    .numeroTelefono{
        text-decoration: none;
        color: #4A4848;
        font-size: 20px;;
    }
}
.contactoMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    .taggbox{
        width: 65vh;
        padding: 20px;
        margin-left: 200px;
        margin-top: 30px;        
    }
    @media (max-width: 1020px){
        .taggbox{
            display: none;
        }
    }
}
.formulario{
    color: $colorletra;
    font-family: Roboto-Regular;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    border-color: $colorletra;
    margin-top: 50px;
    .form-group{
        padding: 5px;
        .form-textarea{
            width: 360px;
            border-radius: 10px;
            padding: 5px;
            border-color: $colorletra;
            border: solid;
            background-color: $fondoclaro;  
        }
        .form-input{
            width: 360px;
            height: 45px;
            border-radius: 10px;
            padding: 5px;
            border-color: $colorletra;
            border: solid;
            background-color: $fondoclaro;
        }
    }
    .form-buttongroup{
        padding: 5px;
        .form-button{
            width: 360px;
            height: 45px;
            border-radius: 25px;
            background-color: $rosadoclaro;
            font-weight: bold;
            font-size: 16px;   
        }
    }
}








